.top {
  width: 100%;
  height: 60px;
  background-color: #f55c80;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Montserrat";
}
.top img {
  width: 170px;
  height: 60px;
}
.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 1rem;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topCenter {
  flex: 6;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}
@media (max-width: 800px) {
  .topList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .topListItem {
    padding-top: 5px;
    margin-right: 5px;
    font-size: 0.8rem;
  }
  .top img {
    width: 100px;
    height: 50px;
  }
  .topImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    margin-right: 5px;
  }
}

.topListItem:hover {
  color: #ffd166;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
  border-color: black;
  border-width: 10px;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
