.profile {
  display: flex;
  padding: 30px;
  width: 50%;
  margin: auto;
}
@media (max-width: 800px) {
  .profile {
    padding: 20px;
    width: 100%;
  }
}
.profileWrapper {
  flex: 9;
  padding: 20px;
  border: 2px solid #f55c80;
  border-radius: 10px;
}

.profileUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.profileDeleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}
.label-pic {
  font-size: 1rem;
  margin-right: 2rem;
}
.profileForm {
  display: flex;
  flex-direction: column;
}

.profilePP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.profilePP > img {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 20px;
  object-fit: cover;
}

.profilePPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.profileForm > label {
  font-size: 20px;
  margin-left: 0.5rem;
}

.profileForm > input {
  color: gray;
  margin: 10px 10px 10px 0;
  padding: 0 0 0 20px;
  height: 50px;
  border: 2px solid #f55c80;
  border-radius: 10px;
}

.profileSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #f55c80;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
