.MuiContainer-maxWidthXs {
  max-width: 100% !important;
}
.MuiContainer-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  font-family: "Roboto";
  padding-top: 1rem;
}
.register-card {
  width: 22rem;
  padding: 30px;
  background-color: #fff;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 3px solid #ef476f;
}
.registerTitle {
  font-size: 3rem;
}
.registerTitle span {
  color: #ef476f;
}

.registerForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: 500;
  text-align: left;
  font-size: 1.1rem;
}

.registerInput {
  padding: 10px;
  height: 30px;
  background-color: white;
  border: 2px solid #ef476f;
  border-radius: 10px;
  padding-left: 15px;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #ef476f;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.registerLoginButton {
  position: absolute;
  top: 70px;
  right: 25px;
  font-size: 1rem;
  background-color: #ef476f;
  cursor: pointer;
  border: none;
  padding: 15px;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
